body {
  background-color: #55b6b4;
  /* background: #55b6b4 url("file:///Users/farshad/Downloads/bounce2.gif") no-repeat fixed center;  */
  margin: 0px;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
}

.control-btn {
  position: absolute;
  top: 10px;
  left: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 50%;
}