* {
  box-sizing: border-box;
}

body {
  background-color: #55b6b4;
  margin: 0px;
  overflow: hidden;
}

header {
  visibility: hidden;
}

.wrapper {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  left: 0;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(0, 0, 0);
  border-radius: 10px; 
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.number {
  font-size: 3em;
}

.label {
  font-size: 0.8em;
}

.l-h-0 {
  line-height: 0
}

.control-btn {
  cursor: pointer;
  padding: 10px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.p-10 {
  padding: 10px;
}

.center {
  text-align: center;
}

.control-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px;
}

.m-width {
  min-width: 8.333vw;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px;
}

.start-btn {
  position: absolute;
  top: 20%;
  left: calc(50% - 60px);
}

.responsive {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.center {
  align-items: center;
  justify-content: center;
}

.start-image {
  position: relative;
}
