body {
  background-color: #55b6b4;
  /* background: #55b6b4 url("file:///Users/farshad/Downloads/bounce2.gif") no-repeat fixed center;  */
  margin: 0px;
  overflow: hidden;
}

header {
  background: rgba(0, 0, 0, 0.1);
  height: 100px;
  position: absolute;
  width: 100%;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
}

.control-btn {
  position: absolute;
  top: 10px;
  left: 0;
}

.banner {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.element {
  padding: 1em;
  text-align: center;
}

.slider-container {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  right: -100px;
  top: 270px;
  transform: rotate(-90deg);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 270px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(0, 0, 0);
  border-radius: 10px; 
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.number {
  font-size: 3em;
}

.label {
  font-size: 0.8em;
}

.l-h-0 {
  line-height: 0
}