<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dot Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body style="visibility: hidden;">
    <!-- Start screen -->
    <div id="gameCover" class="cover">
      <custom-logo id="dotGame" label="Dot Game"></custom-logo>
      <button
        type="button"
        id="playGameBtn"
        class="playGameBtn"
        title="Start Game"
        aria-label="Start Game"
      >
        <i
          class="fa fa-play-circle icon"
          title="Start Game"
          aria-labelledby="playGameBtn"
        ></i>
        <span class="label">Start</span>
      </button>
    </div>

    <!-- Game Info-->
    <div id="gameInfo" class="gameInfo">
      <custom-score id="customScore" label="SCORE"></custom-score>
      <div class="control-buttons">
        <!-- Play button -->
        <button type="button" id="play" aria-label="Play" class="gameControl">
          <i class="fa fa-play" title="Play" aria-labelledby="play"></i>
          <span class="controlLabel">play</span>
        </button>
        <!-- Pause button -->
        <button type="button" id="pause" aria-label="Pause" class="gameControl">
          <i class="fa fa-pause" title="Pause" aria-labelledby="pause"></i>
          <span class="controlLabel">pause</span>
        </button>
      </div>
      <!-- Level -->
      <custom-slider
        id="customSlider"
        label="LEVEL"
        min="1"
        max="10"
        value="1"
      ></custom-slider>
    </div>
    <custom-water id="water" min-height="100"></custom-water>

    <!-- Game over -->
    <div id="gameOver" class="game-over">
      <div>
        <img
          src="https://cdn.glitch.com/a9af9358-da1b-4347-b5d5-f70ce35ba1e6%2Fgameover.png?v=1600827580505"
          width="200"
        />
      </div>
      <div>
        <span>Your score: </span>
        <span id="gameOverScore">0</span>
      </div>
      <!-- Restart button -->
      <button type="button" id="restart" aria-label="Restart" onclick="window.location.reload(true)" class="gameControl">
        <i class="fa fa-refresh" title="Restart" aria-labelledby="restart"></i>
        <span class="controlLabel">Try again</span>
      </button>
    </div>

    <script type="module" src="index.js"></script>
    <script type="module" src="./js/customComponents/customLogo.js"></script>
    <script type="module" src="./js/customComponents/customScore.js"></script>
    <script type="module" src="./js/customComponents/customSlider.js"></script>
    <script type="module" src="./js/customComponents/customWater.js"></script>
  </body>
</html>
