@import "./scss/variables";
@import "./scss/animations";
@import "./scss/mixins";
@import "./scss/common";

.cover {
  min-height: 100%;
  background: $white
    url('./dot-cover.jpg')
    no-repeat center;
  background-size: cover;
  text-align: center;

  .playGameBtn {
    @include shake;
    @include button-reset;
    background-color: $white;

    .icon {
      font-size: $play-game-icon-size;
    }

    .label {
      display: block;
      font-size: 2em;
      font-family: cursive;
      line-height: 1;
    }
  }
}

.gameInfo {
  @include flex-center;
  display: none;
  justify-content: space-evenly;
  left: 0;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  height: $header-height;
  width: 100%;
  z-index: 1;
}

.label {
  font-size: 0.8em;
}

.control-buttons {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px;
  padding: 10px;
}

.game-over {
  @include flex-center;
  flex-direction: column;
  display: none;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  height: 200px;
  width: 200px;
}

.gameControl {
  @include flex-center;
  @include button-reset;
  font-size: 1.5em;
  flex-direction: column;
  min-width: 50px;

  .controlLabel {
    font-size: 16px;
  }
}
